.view-admin-designs{
  background: #fff;
  .views-field-view-node {
    width: 100px;
    .icon {
      padding: 4px;
      font-size: medium;
      &.glyphicon-eye-open {
        color: @brand-success;
      }
      &.glyphicon-edit {
        color: @brand-info;
      }
      &.glyphicon-trash {
        color: @brand-danger;
      }
    }
  }
}

.carousel-control{
  width: 25%;
  opacity: 1;
  filter: alpha(opacity=50);
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  text-shadow: none;

  .right{
    background: none;
  }
}