.page-header {
  border-bottom: 0 !important;
}

.region-header {
  .block {
    float: left !important;

    &.block-search {
      width: 200px;
    }

    a {
      &.icon-menu {
        color: @brand-primary !important;
        margin-right: 5px;
      }
    }
  }
}